@model BankingApp.Models.AccountModel
@{
    ViewBag.Title = "Deposit";
}

<fieldset>
    <legend>Deposit</legend>
    @using (Html.BeginForm("Deposit", "Home", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-12 form-group">
                @Html.ValidationSummary("Following are the errors:")
                @Html.HiddenFor(x => x.AccountNumber)
            </div>
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.Balance)
                @Html.TextBoxFor(x => x.Balance, new { disabled = "true", @class = "form-control" })
            </div>
            <div class="col-md-12 form-group">
                @Html.LabelFor(x => x.TransactionAmount)
                @Html.TextBoxFor(x => x.TransactionAmount, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TransactionAmount, null, new { style = "color:red;" })
            </div>
            <div class="col-md-12 form-group">
                <input type="submit" class="btn btn-primary btn-sm" name="deposit" value="Deposit" />
            </div>
        </div>
    }
</fieldset>
@section Scripts{
    <script>
        $(function () {
            $('#form-submit').on('click', function () {
                sweetAlert("Oops...", "Something went wrong!", "error");
            });
        });
    </script>
}